Watering.json
[{
  "id": "d011e418.3e4ce8",
  "type": "tab",
  "label": "Watering",
  "disabled": true,
  "info": ""
}, {
  "id": "a625b7a5.9d071",
  "type": "bigtimer",
  "z": "d011e418.3e4ce8",
  "outtopic": "switch/Watering/pump",
  "outpayload1": "1200",
  "outpayload2": "0",
  "name": "Watering timer",
  "comment": "",
  "lat": "47.27",
  "lon": "8.26",
  "starttime": "5004",
  "endtime": "5004",
  "starttime2": 0,
  "endtime2": 0,
  "startoff": "0",
  "endoff": "20",
  "startoff2": 0,
  "endoff2": 0,
  "offs": 0,
  "outtext1": "watering now",
  "outtext2": "last watering",
  "timeout": "10",
  "sun": true,
  "mon": true,
  "tue": true,
  "wed": true,
  "thu": true,
  "fri": true,
  "sat": true,
  "jan": true,
  "feb": true,
  "mar": true,
  "apr": true,
  "may": true,
  "jun": true,
  "jul": true,
  "aug": true,
  "sep": true,
  "oct": true,
  "nov": true,
  "dec": true,
  "day1": 0,
  "month1": 0,
  "day2": 0,
  "month2": 0,
  "day3": 0,
  "month3": 0,
  "day4": 0,
  "month4": 0,
  "day5": 0,
  "month5": 0,
  "day6": 0,
  "month6": 0,
  "d1": 0,
  "w1": 0,
  "d2": 0,
  "w2": 0,
  "d3": 0,
  "w3": 0,
  "d4": 0,
  "w4": 0,
  "d5": 0,
  "w5": 0,
  "d6": 0,
  "w6": 0,
  "xday1": 0,
  "xmonth1": 0,
  "xday2": 0,
  "xmonth2": 0,
  "xday3": 0,
  "xmonth3": 0,
  "xday4": 0,
  "xmonth4": 0,
  "xday5": 0,
  "xmonth5": 0,
  "xday6": 0,
  "xmonth6": 0,
  "xd1": 0,
  "xw1": 0,
  "xd2": 0,
  "xw2": 0,
  "xd3": 0,
  "xw3": 0,
  "xd4": 0,
  "xw4": 0,
  "xd5": 0,
  "xw5": 0,
  "xd6": 0,
  "xw6": 0,
  "suspend": false,
  "random": false,
  "repeat": false,
  "atstart": false,
  "odd": false,
  "even": false,
  "x": 440,
  "y": 280,
  "wires": [
    ["885e3b.9c6e91c8"],
    ["d03d98b6.aed2", "479126f4.c2bb88"],
    ["439720a4.e86078"]
  ]
}, {
  "id": "885e3b.9c6e91c8",
  "type": "mqtt out",
  "z": "d011e418.3e4ce8",
  "name": "",
  "topic": "switch/Watering/pump",
  "qos": "0",
  "retain": "false",
  "broker": "243fb1ae.c79226",
  "x": 740,
  "y": 100,
  "wires": []
}, {
  "id": "4217278f.81ea9",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "barel",
  "group": "31dbe66f.a1c39a",
  "order": 1,
  "width": 0,
  "height": 0,
  "gtype": "wave",
  "title": "",
  "label": "Liter",
  "format": "{{value}}",
  "min": "0",
  "max": "50",
  "colors": ["#00b500", "#e6e600", "#ca3838"],
  "seg1": "",
  "seg2": "",
  "x": 1110,
  "y": 260,
  "wires": []
}, {
  "id": "163a90f1.4affd7",
  "type": "ui_button",
  "z": "d011e418.3e4ce8",
  "name": "refil",
  "group": "31dbe66f.a1c39a",
  "order": 2,
  "width": 0,
  "height": 0,
  "passthru": false,
  "label": "refil",
  "tooltip": "Press after Barel refil",
  "color": "white",
  "bgcolor": "blue",
  "icon": "",
  "payload": "50",
  "payloadType": "num",
  "topic": "refil",
  "x": 690,
  "y": 220,
  "wires": [
    ["d03d98b6.aed2"]
  ]
}, {
  "id": "d03d98b6.aed2",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "water counter",
  "func": "var count=context.get('count') || 0;\nif (msg.topic == \"refil\") {\n    count=msg.payload;\n} else {\n    count -= msg.payload*0.1;\n    count=(count < 0)?0:count;\n}\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 920,
  "y": 260,
  "wires": [
    ["4217278f.81ea9"]
  ]
}, {
  "id": "b4598f24.9ac8d8",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "moist",
  "group": "fa8a91cd.256f3",
  "order": 4,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "soil moisture",
  "label": "%",
  "format": "{{value}}",
  "min": "0",
  "max": "100",
  "colors": ["#0000ff", "#00ac00", "#ff0000"],
  "seg1": "",
  "seg2": "",
  "x": 690,
  "y": 500,
  "wires": []
}, {
  "id": "325c3539.b4cae2",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "moist_sensor",
  "topic": "sensor/Watering/moist",
  "qos": "0",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 130,
  "y": 500,
  "wires": [
    ["4d1c1ceb.45727c"]
  ]
}, {
  "id": "ba25aa70.86d048",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "temperature_sensor",
  "topic": "sensor/Watering/temperature",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 150,
  "y": 620,
  "wires": [
    ["7647e839.b279c8", "b0fe9911.1b5b08"]
  ]
}, {
  "id": "7647e839.b279c8",
  "type": "ui_chart",
  "z": "d011e418.3e4ce8",
  "name": "",
  "group": "fa8a91cd.256f3",
  "order": 2,
  "width": 0,
  "height": 0,
  "label": "temperature",
  "chartType": "line",
  "legend": "false",
  "xformat": "auto",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "40",
  "removeOlder": "4",
  "removeOlderPoints": "",
  "removeOlderUnit": "604800",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "outputs": 1,
  "x": 710,
  "y": 620,
  "wires": [
    []
  ]
}, {
  "id": "8de67daf.f80e68",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "humidity_sensor",
  "topic": "sensor/Watering/humidity",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 140,
  "y": 740,
  "wires": [
    ["6a24247.046025c"]
  ]
}, {
  "id": "6a24247.046025c",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "current Humidity",
  "group": "fa8a91cd.256f3",
  "order": 6,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "relative Humidity",
  "label": "%",
  "format": "{{value}}",
  "min": 0,
  "max": "100",
  "colors": ["#ff0000", "#00bd00", "#0080ff"],
  "seg1": "",
  "seg2": "",
  "x": 730,
  "y": 740,
  "wires": []
}, {
  "id": "cdde0d35.103b5",
  "type": "range",
  "z": "d011e418.3e4ce8",
  "minin": "430",
  "maxin": "816",
  "minout": "2",
  "maxout": "100",
  "action": "clamp",
  "round": true,
  "property": "payload",
  "name": "moist2percent",
  "x": 480,
  "y": 500,
  "wires": [
    ["b4598f24.9ac8d8"]
  ]
}, {
  "id": "8a6f579b.8eca18",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 4,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "",
  "format": "{{msg.payload}}",
  "layout": "col-center",
  "x": 1110,
  "y": 360,
  "wires": []
}, {
  "id": "439720a4.e86078",
  "type": "simpletime",
  "z": "d011e418.3e4ce8",
  "name": "",
  "x": 710,
  "y": 360,
  "wires": [
    ["6b35723a.7331b4"]
  ]
}, {
  "id": "6b35723a.7331b4",
  "type": "change",
  "z": "d011e418.3e4ce8",
  "name": "at timestamp",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "$.payload & \" at \" \t& $.myyear & \"-\" \t& $formatInteger($.mymonthn,'00') & \"-\" \t& $formatInteger($.mydom,'00') & \" \" \t& $.mytime",
    "tot": "jsonata"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 910,
  "y": 360,
  "wires": [
    ["8a6f579b.8eca18"]
  ]
}, {
  "id": "5354ebf2.741cac",
  "type": "ui_switch",
  "z": "d011e418.3e4ce8",
  "name": "Manual override",
  "label": "Manual On/Off",
  "tooltip": "",
  "group": "31dbe66f.a1c39a",
  "order": 5,
  "width": 0,
  "height": 0,
  "passthru": true,
  "decouple": "false",
  "topic": "switch/Watering/pump",
  "style": "",
  "onvalue": "on",
  "onvalueType": "str",
  "onicon": "",
  "oncolor": "",
  "offvalue": "default",
  "offvalueType": "str",
  "officon": "",
  "offcolor": "",
  "x": 140,
  "y": 280,
  "wires": [
    ["a625b7a5.9d071"]
  ]
}, {
  "id": "479126f4.c2bb88",
  "type": "debug",
  "z": "d011e418.3e4ce8",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 690,
  "y": 300,
  "wires": []
}, {
  "id": "273e85cb.c5822a",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Sensors",
  "info": "",
  "x": 120,
  "y": 460,
  "wires": []
}, {
  "id": "867c63fc.5f2dc",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Main",
  "info": "",
  "x": 110,
  "y": 60,
  "wires": []
}, {
  "id": "4aa2af67.9183f8",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "fa8a91cd.256f3",
  "order": 5,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "DHT Status",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-center",
  "x": 790,
  "y": 820,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "f721ae3a.eae6d8",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of status",
  "func": "switch(msg.payload) {\n  case \"OK\":\n    // Glow GREEN\n    msg.color = \"lime\";\n    break;\n  default:\n    // Glow RED\n    msg.color = \"red\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 570,
  "y": 820,
  "wires": [
    ["4aa2af67.9183f8"]
  ]
}, {
  "id": "17298580.81ba8b",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "DHT_status",
  "topic": "sensor/Watering/status",
  "qos": "0",
  "datatype": "utf8",
  "broker": "243fb1ae.c79226",
  "x": 130,
  "y": 820,
  "wires": [
    ["e6b95fa0.972388"]
  ]
}, {
  "id": "4d1c1ceb.45727c",
  "type": "timeouttrigger",
  "z": "d011e418.3e4ce8",
  "ontimeouttype": "num",
  "ontimeoutval": "-1",
  "duration": "70",
  "units": "s",
  "name": "WDT",
  "x": 280,
  "y": 500,
  "wires": [
    ["cdde0d35.103b5", "5eb0b8f0.ab6f3"]
  ]
}, {
  "id": "a7b76f50.bc5768",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "fa8a91cd.256f3",
  "order": 3,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "moist Status",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-center",
  "x": 710,
  "y": 560,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "5eb0b8f0.ab6f3",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of moist",
  "func": "switch(msg.payload) {\n  case -1:\n    // Glow RED\n    msg.color = \"red\";\n    break;\n  default:\n    // Glow GREEN\n    msg.color = \"lime\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 490,
  "y": 560,
  "wires": [
    ["a7b76f50.bc5768"]
  ]
}, {
  "id": "e6b95fa0.972388",
  "type": "timeouttrigger",
  "z": "d011e418.3e4ce8",
  "ontimeouttype": "str",
  "ontimeoutval": "TMOUT",
  "duration": "70",
  "units": "s",
  "name": "DHT WDT",
  "x": 320,
  "y": 820,
  "wires": [
    ["f721ae3a.eae6d8"]
  ]
}, {
  "id": "b0fe9911.1b5b08",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "current Temperature",
  "group": "fa8a91cd.256f3",
  "order": 5,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "Temperature",
  "label": "°C",
  "format": "{{value}}",
  "min": 0,
  "max": "40",
  "colors": ["#0000ff", "#00ac00", "#ff0000"],
  "seg1": "",
  "seg2": "",
  "x": 740,
  "y": 680,
  "wires": []
}, {
  "id": "17d80316.655ac5",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "Status of relay",
  "topic": "sensor/Watering/relay",
  "qos": "0",
  "datatype": "utf8",
  "broker": "243fb1ae.c79226",
  "x": 140,
  "y": 400,
  "wires": [
    ["764e7e21.d4bc3"]
  ]
}, {
  "id": "44f20127.317d8",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 3,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "Relay",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-left",
  "x": 760,
  "y": 400,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "764e7e21.d4bc3",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of status",
  "func": "switch(msg.payload) {\n  case \"ON\":\n    // Glow GREEN\n    msg.color = \"lime\";\n    break;\n  default:\n    // Glow RED\n    msg.color = \"gray\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 560,
  "y": 400,
  "wires": [
    ["44f20127.317d8"]
  ]
}, {
  "id": "243fb1ae.c79226",
  "type": "mqtt-broker",
  "z": "",
  "name": "MQTT on RED",
  "broker": "localhost",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "compatmode": true,
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "closeTopic": "",
  "closeQos": "0",
  "closePayload": "",
  "willTopic": "",
  "willQos": "0",
  "willPayload": ""
}, {
  "id": "31dbe66f.a1c39a",
  "type": "ui_group",
  "z": "",
  "name": "Main",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "fa8a91cd.256f3",
  "type": "ui_group",
  "z": "",
  "name": "Sensors",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "82b6846f.3524c8",
  "type": "ui_tab",
  "z": "",
  "name": "Watering",
  "icon": "fa-tint",
  "disabled": false,
  "hidden": false
}]
