Watering.json
[{
  "id": "d011e418.3e4ce8",
  "type": "tab",
  "label": "Watering",
  "disabled": false,
  "info": ""
}, {
  "id": "a625b7a5.9d071",
  "type": "bigtimer",
  "z": "d011e418.3e4ce8",
  "outtopic": "switch/Watering/pump",
  "outpayload1": "20",
  "outpayload2": "0",
  "name": "Watering timer",
  "comment": "",
  "lat": "47.27",
  "lon": "8.26",
  "starttime": "5004",
  "endtime": "5004",
  "starttime2": 0,
  "endtime2": 0,
  "startoff": "0",
  "endoff": "20",
  "startoff2": 0,
  "endoff2": 0,
  "offs": 0,
  "outtext1": "watering now",
  "outtext2": "last watering",
  "timeout": "10",
  "sun": true,
  "mon": true,
  "tue": true,
  "wed": true,
  "thu": true,
  "fri": true,
  "sat": true,
  "jan": true,
  "feb": true,
  "mar": true,
  "apr": true,
  "may": true,
  "jun": true,
  "jul": true,
  "aug": true,
  "sep": true,
  "oct": true,
  "nov": true,
  "dec": true,
  "day1": 0,
  "month1": 0,
  "day2": 0,
  "month2": 0,
  "day3": 0,
  "month3": 0,
  "day4": 0,
  "month4": 0,
  "day5": 0,
  "month5": 0,
  "day6": 0,
  "month6": 0,
  "d1": 0,
  "w1": 0,
  "d2": 0,
  "w2": 0,
  "d3": 0,
  "w3": 0,
  "d4": 0,
  "w4": 0,
  "d5": 0,
  "w5": 0,
  "d6": 0,
  "w6": 0,
  "xday1": 0,
  "xmonth1": 0,
  "xday2": 0,
  "xmonth2": 0,
  "xday3": 0,
  "xmonth3": 0,
  "xday4": 0,
  "xmonth4": 0,
  "xday5": 0,
  "xmonth5": 0,
  "xday6": 0,
  "xmonth6": 0,
  "xd1": 0,
  "xw1": 0,
  "xd2": 0,
  "xw2": 0,
  "xd3": 0,
  "xw3": 0,
  "xd4": 0,
  "xw4": 0,
  "xd5": 0,
  "xw5": 0,
  "xd6": 0,
  "xw6": 0,
  "suspend": false,
  "random": false,
  "repeat": false,
  "atstart": false,
  "odd": false,
  "even": false,
  "x": 460,
  "y": 460,
  "wires": [
    ["885e3b.9c6e91c8", "35c89fac.c1ecb"],
    ["d03d98b6.aed2"],
    ["439720a4.e86078"]
  ]
}, {
  "id": "885e3b.9c6e91c8",
  "type": "mqtt out",
  "z": "d011e418.3e4ce8",
  "name": "",
  "topic": "switch/Watering/pump",
  "qos": "2",
  "retain": "false",
  "broker": "243fb1ae.c79226",
  "x": 780,
  "y": 340,
  "wires": []
}, {
  "id": "66a36cc6.caf414",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 1,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "LED1",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "col-center",
  "x": 910,
  "y": 100,
  "wires": []
}, {
  "id": "35c89fac.c1ecb",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color",
  "func": "msg.color = (msg.payload > 0)?\"lime\":\"gray\";\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 740,
  "y": 100,
  "wires": [
    ["66a36cc6.caf414"]
  ]
}, {
  "id": "4217278f.81ea9",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "barel",
  "group": "31dbe66f.a1c39a",
  "order": 1,
  "width": 0,
  "height": 0,
  "gtype": "wave",
  "title": "",
  "label": "Liter",
  "format": "{{value}}",
  "min": "0",
  "max": "50",
  "colors": ["#00b500", "#e6e600", "#ca3838"],
  "seg1": "",
  "seg2": "",
  "x": 470,
  "y": 40,
  "wires": []
}, {
  "id": "163a90f1.4affd7",
  "type": "ui_button",
  "z": "d011e418.3e4ce8",
  "name": "refil",
  "group": "31dbe66f.a1c39a",
  "order": 2,
  "width": 0,
  "height": 0,
  "passthru": false,
  "label": "refil",
  "tooltip": "Press when Barel was filled up",
  "color": "white",
  "bgcolor": "blue",
  "icon": "",
  "payload": "50",
  "payloadType": "num",
  "topic": "refil",
  "x": 120,
  "y": 100,
  "wires": [
    ["d03d98b6.aed2"]
  ]
}, {
  "id": "d03d98b6.aed2",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "water counter",
  "func": "var count=context.get('count') || 0;\nif (msg.topic == \"refil\") {\n    count=msg.payload;\n} else {\n    count -= msg.payload*1;\n    count=(count < 0)?0:count;\n}\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 320,
  "y": 140,
  "wires": [
    ["4217278f.81ea9"]
  ]
}, {
  "id": "3c1642ab.5ef6d6",
  "type": "inject",
  "z": "d011e418.3e4ce8",
  "name": "manual inject",
  "topic": "switch/Watering/pump",
  "payload": "1",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 170,
  "y": 460,
  "wires": [
    ["a625b7a5.9d071"]
  ]
}, {
  "id": "b3133c55.07557",
  "type": "ui_button",
  "z": "d011e418.3e4ce8",
  "name": "",
  "group": "31dbe66f.a1c39a",
  "order": 3,
  "width": 0,
  "height": 0,
  "passthru": true,
  "label": "TurnON for 2 minutes",
  "tooltip": "Force watering for 2 minutes",
  "color": "red",
  "bgcolor": "green",
  "icon": "",
  "payload": "1",
  "payloadType": "str",
  "topic": "switch/Watering/pump",
  "x": 330,
  "y": 360,
  "wires": [
    ["a625b7a5.9d071"]
  ]
}, {
  "id": "b4598f24.9ac8d8",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "moist",
  "group": "fa8a91cd.256f3",
  "order": 4,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "soil Moisture",
  "label": "%",
  "format": "{{value}}",
  "min": "0",
  "max": "100",
  "colors": ["#0000ff", "#00ac00", "#ff0000"],
  "seg1": "",
  "seg2": "",
  "x": 470,
  "y": 560,
  "wires": []
}, {
  "id": "325c3539.b4cae2",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "moist_sensor",
  "topic": "sensor/Watering/moist",
  "qos": "0",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 130,
  "y": 560,
  "wires": [
    ["cdde0d35.103b5"]
  ]
}, {
  "id": "ba25aa70.86d048",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "temperature_sensor",
  "topic": "sensor/Watering/temperature",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 160,
  "y": 660,
  "wires": [
    ["7647e839.b279c8", "ef47511c.ec8f28"]
  ]
}, {
  "id": "7647e839.b279c8",
  "type": "ui_chart",
  "z": "d011e418.3e4ce8",
  "name": "",
  "group": "fa8a91cd.256f3",
  "order": 1,
  "width": 0,
  "height": 0,
  "label": "temperature",
  "chartType": "line",
  "legend": "false",
  "xformat": "auto",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "40",
  "removeOlder": "4",
  "removeOlderPoints": "",
  "removeOlderUnit": "604800",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "outputs": 1,
  "x": 510,
  "y": 660,
  "wires": [
    []
  ]
}, {
  "id": "ef47511c.ec8f28",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "fa8a91cd.256f3",
  "order": 2,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "current Temperature:",
  "format": "{{msg.payload}}",
  "layout": "row-center",
  "x": 550,
  "y": 780,
  "wires": []
}, {
  "id": "8de67daf.f80e68",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "humidity_sensor",
  "topic": "sensor/Watering/humidity",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 190,
  "y": 840,
  "wires": [
    ["6a24247.046025c"]
  ]
}, {
  "id": "6a24247.046025c",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "current Humidity",
  "group": "fa8a91cd.256f3",
  "order": 3,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "relative Humidity",
  "label": "%",
  "format": "{{value}}",
  "min": 0,
  "max": "100",
  "colors": ["#ff0000", "#00bd00", "#0080ff"],
  "seg1": "",
  "seg2": "",
  "x": 550,
  "y": 840,
  "wires": []
}, {
  "id": "cdde0d35.103b5",
  "type": "range",
  "z": "d011e418.3e4ce8",
  "minin": "442",
  "maxin": "820",
  "minout": "0",
  "maxout": "100",
  "action": "clamp",
  "round": true,
  "property": "payload",
  "name": "moist2percent",
  "x": 310,
  "y": 600,
  "wires": [
    ["b4598f24.9ac8d8"]
  ]
}, {
  "id": "8a6f579b.8eca18",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 4,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "",
  "format": "{{msg.payload}}",
  "layout": "col-center",
  "x": 1130,
  "y": 460,
  "wires": []
}, {
  "id": "439720a4.e86078",
  "type": "simpletime",
  "z": "d011e418.3e4ce8",
  "name": "",
  "x": 750,
  "y": 460,
  "wires": [
    ["6b35723a.7331b4"]
  ]
}, {
  "id": "6b35723a.7331b4",
  "type": "change",
  "z": "d011e418.3e4ce8",
  "name": "at timestamp",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "$.payload & \" at \" \t& $.myyear & \"-\" \t& $formatInteger($.mymonthn,'00') & \"-\" \t& $formatInteger($.mydom,'00') & \" \" \t& $.mytime",
    "tot": "jsonata"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 950,
  "y": 460,
  "wires": [
    ["8a6f579b.8eca18"]
  ]
}, {
  "id": "243fb1ae.c79226",
  "type": "mqtt-broker",
  "z": "",
  "name": "MQTT on RED",
  "broker": "localhost",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "compatmode": false,
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "closeTopic": "",
  "closeQos": "0",
  "closePayload": "",
  "willTopic": "",
  "willQos": "0",
  "willPayload": ""
}, {
  "id": "31dbe66f.a1c39a",
  "type": "ui_group",
  "z": "",
  "name": "Main",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "fa8a91cd.256f3",
  "type": "ui_group",
  "z": "",
  "name": "Sensors",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": false
}, {
  "id": "82b6846f.3524c8",
  "type": "ui_tab",
  "z": "",
  "name": "Watering",
  "icon": "waves",
  "disabled": false,
  "hidden": false
}]
