Watering.json
[{
  "id": "d011e418.3e4ce8",
  "type": "tab",
  "label": "Watering",
  "disabled": false,
  "info": ""
}, {
  "id": "a625b7a5.9d071",
  "type": "bigtimer",
  "z": "d011e418.3e4ce8",
  "outtopic": "",
  "outpayload1": "480",
  "outpayload2": "0",
  "name": "Watering timer",
  "comment": "ON time in seconds",
  "lat": "47.27",
  "lon": "8.26",
  "starttime": "5004",
  "endtime": "5004",
  "starttime2": 0,
  "endtime2": 0,
  "startoff": "0",
  "endoff": "20",
  "startoff2": 0,
  "endoff2": 0,
  "offs": 0,
  "outtext1": "drip ON",
  "outtext2": "drip OFF",
  "timeout": "10",
  "sun": true,
  "mon": true,
  "tue": true,
  "wed": true,
  "thu": true,
  "fri": true,
  "sat": true,
  "jan": true,
  "feb": true,
  "mar": true,
  "apr": true,
  "may": true,
  "jun": true,
  "jul": true,
  "aug": true,
  "sep": true,
  "oct": true,
  "nov": true,
  "dec": true,
  "day1": 0,
  "month1": 0,
  "day2": 0,
  "month2": 0,
  "day3": 0,
  "month3": 0,
  "day4": 0,
  "month4": 0,
  "day5": 0,
  "month5": 0,
  "day6": 0,
  "month6": 0,
  "d1": 0,
  "w1": 0,
  "d2": 0,
  "w2": 0,
  "d3": 0,
  "w3": 0,
  "d4": 0,
  "w4": 0,
  "d5": 0,
  "w5": 0,
  "d6": 0,
  "w6": 0,
  "xday1": 0,
  "xmonth1": 0,
  "xday2": 0,
  "xmonth2": 0,
  "xday3": 0,
  "xmonth3": 0,
  "xday4": 0,
  "xmonth4": 0,
  "xday5": 0,
  "xmonth5": 0,
  "xday6": 0,
  "xmonth6": 0,
  "xd1": 0,
  "xw1": 0,
  "xd2": 0,
  "xw2": 0,
  "xd3": 0,
  "xw3": 0,
  "xd4": 0,
  "xw4": 0,
  "xd5": 0,
  "xw5": 0,
  "xd6": 0,
  "xw6": 0,
  "suspend": false,
  "random": false,
  "repeat": false,
  "atstart": false,
  "odd": false,
  "even": false,
  "x": 520,
  "y": 260,
  "wires": [
    ["885e3b.9c6e91c8"],
    ["d03d98b6.aed2"],
    ["c89068f7.fd1aa8"]
  ]
}, {
  "id": "885e3b.9c6e91c8",
  "type": "mqtt out",
  "z": "d011e418.3e4ce8",
  "name": "",
  "topic": "switch/Watering/pump",
  "qos": "0",
  "retain": "false",
  "broker": "243fb1ae.c79226",
  "x": 740,
  "y": 100,
  "wires": []
}, {
  "id": "4217278f.81ea9",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "barel",
  "group": "31dbe66f.a1c39a",
  "order": 7,
  "width": 0,
  "height": 0,
  "gtype": "wave",
  "title": "",
  "label": "Liter",
  "format": "{{value}}",
  "min": "0",
  "max": "50",
  "colors": ["#00b500", "#e6e600", "#ca3838"],
  "seg1": "",
  "seg2": "",
  "x": 1090,
  "y": 300,
  "wires": []
}, {
  "id": "163a90f1.4affd7",
  "type": "ui_button",
  "z": "d011e418.3e4ce8",
  "name": "refil",
  "group": "31dbe66f.a1c39a",
  "order": 6,
  "width": 0,
  "height": 0,
  "passthru": false,
  "label": "refil",
  "tooltip": "Press when Barel was filled up",
  "color": "white",
  "bgcolor": "blue",
  "icon": "",
  "payload": "50",
  "payloadType": "num",
  "topic": "refil",
  "x": 690,
  "y": 180,
  "wires": [
    ["d03d98b6.aed2", "229298da.c83cd"]
  ]
}, {
  "id": "d03d98b6.aed2",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "water counter",
  "func": "var count=context.get('count') || 0;\nif (msg.topic == \"refil\") {\n    count=msg.payload;\n} else {\n    count -= msg.payload*0.3;\n    count=(count < 0)?0:count;\n}\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 920,
  "y": 260,
  "wires": [
    ["4217278f.81ea9"]
  ]
}, {
  "id": "b4598f24.9ac8d8",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "moist gauge",
  "group": "2e4dca71.85856e",
  "order": 2,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "soil moisture",
  "label": "%",
  "format": "{{value}}",
  "min": "0",
  "max": "100",
  "colors": ["#ff0000", "#00ac00", "#0000ff"],
  "seg1": "",
  "seg2": "",
  "x": 710,
  "y": 500,
  "wires": []
}, {
  "id": "325c3539.b4cae2",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "moist_sensor",
  "topic": "sensor/Watering/moist",
  "qos": "0",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 130,
  "y": 500,
  "wires": [
    ["4d1c1ceb.45727c"]
  ]
}, {
  "id": "ba25aa70.86d048",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "temperature_sensor",
  "topic": "sensor/Watering/temperature",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 170,
  "y": 620,
  "wires": [
    ["7647e839.b279c8", "b0fe9911.1b5b08"]
  ]
}, {
  "id": "7647e839.b279c8",
  "type": "ui_chart",
  "z": "d011e418.3e4ce8",
  "name": "Temperature chart",
  "group": "fa8a91cd.256f3",
  "order": 2,
  "width": 0,
  "height": 0,
  "label": "Air temperature",
  "chartType": "line",
  "legend": "false",
  "xformat": "auto",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "40",
  "removeOlder": "4",
  "removeOlderPoints": "",
  "removeOlderUnit": "604800",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "outputs": 1,
  "x": 750,
  "y": 620,
  "wires": [
    []
  ]
}, {
  "id": "8de67daf.f80e68",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "humidity_sensor",
  "topic": "sensor/Watering/humidity",
  "qos": "2",
  "datatype": "auto",
  "broker": "243fb1ae.c79226",
  "x": 140,
  "y": 780,
  "wires": [
    ["6a24247.046025c", "538edbd6.f07004"]
  ]
}, {
  "id": "6a24247.046025c",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "current Humidity",
  "group": "fa8a91cd.256f3",
  "order": 3,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "Hygrometer",
  "label": "%",
  "format": "{{value}}",
  "min": 0,
  "max": "100",
  "colors": ["#ff0000", "#00bd00", "#0080ff"],
  "seg1": "",
  "seg2": "",
  "x": 730,
  "y": 780,
  "wires": []
}, {
  "id": "cdde0d35.103b5",
  "type": "range",
  "z": "d011e418.3e4ce8",
  "minin": "430",
  "maxin": "816",
  "minout": "98",
  "maxout": "2",
  "action": "clamp",
  "round": true,
  "property": "payload",
  "name": "moist2percent",
  "x": 480,
  "y": 480,
  "wires": [
    ["b4598f24.9ac8d8", "bee4a7e5.ffe05", "95e466b0.874e88"]
  ]
}, {
  "id": "439720a4.e86078",
  "type": "simpletime",
  "z": "d011e418.3e4ce8",
  "name": "",
  "x": 890,
  "y": 360,
  "wires": [
    ["6b35723a.7331b4"]
  ]
}, {
  "id": "6b35723a.7331b4",
  "type": "change",
  "z": "d011e418.3e4ce8",
  "name": "at timestamp",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "$.myyear & \"-\" \t& $formatInteger($.mymonthn,'00') & \"-\" \t& $formatInteger($.mydom,'00') & \" \" \t& $.mytime\t& \" \" & $.payload",
    "tot": "jsonata"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 1070,
  "y": 360,
  "wires": [
    ["b7c39563.01af"]
  ]
}, {
  "id": "5354ebf2.741cac",
  "type": "ui_switch",
  "z": "d011e418.3e4ce8",
  "name": "Manual override",
  "label": "Manual On/Off",
  "tooltip": "max ON time is predefined watering time",
  "group": "31dbe66f.a1c39a",
  "order": 1,
  "width": 0,
  "height": 0,
  "passthru": true,
  "decouple": "false",
  "topic": "",
  "style": "",
  "onvalue": "on",
  "onvalueType": "str",
  "onicon": "",
  "oncolor": "",
  "offvalue": "default",
  "offvalueType": "str",
  "officon": "",
  "offcolor": "",
  "x": 340,
  "y": 160,
  "wires": [
    ["a625b7a5.9d071"]
  ]
}, {
  "id": "479126f4.c2bb88",
  "type": "debug",
  "z": "d011e418.3e4ce8",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 1350,
  "y": 580,
  "wires": []
}, {
  "id": "273e85cb.c5822a",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Soil moist",
  "info": "",
  "x": 120,
  "y": 460,
  "wires": []
}, {
  "id": "867c63fc.5f2dc",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Control",
  "info": "",
  "x": 110,
  "y": 100,
  "wires": []
}, {
  "id": "4aa2af67.9183f8",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 5,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "DHT Status",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-left",
  "x": 750,
  "y": 860,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "f721ae3a.eae6d8",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of status",
  "func": "switch(msg.payload) {\n  case \"OK\":\n    // Glow GREEN\n    msg.color = \"lime\";\n    break;\n  default:\n    // Glow RED\n    msg.color = \"red\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 530,
  "y": 860,
  "wires": [
    ["4aa2af67.9183f8"]
  ]
}, {
  "id": "17298580.81ba8b",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "DHT_status",
  "topic": "sensor/Watering/status",
  "qos": "0",
  "datatype": "utf8",
  "broker": "243fb1ae.c79226",
  "x": 90,
  "y": 860,
  "wires": [
    ["e6b95fa0.972388"]
  ]
}, {
  "id": "4d1c1ceb.45727c",
  "type": "timeouttrigger",
  "z": "d011e418.3e4ce8",
  "ontimeouttype": "num",
  "ontimeoutval": "-1",
  "duration": "70",
  "units": "s",
  "name": "WDT",
  "x": 280,
  "y": 500,
  "wires": [
    ["cdde0d35.103b5", "5eb0b8f0.ab6f3"]
  ]
}, {
  "id": "a7b76f50.bc5768",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 4,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "moist Status",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-left",
  "x": 710,
  "y": 540,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "5eb0b8f0.ab6f3",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of moist",
  "func": "switch(msg.payload) {\n  case -1:\n    // Glow RED\n    msg.color = \"red\";\n    break;\n  default:\n    // Glow GREEN\n    msg.color = \"lime\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 490,
  "y": 540,
  "wires": [
    ["a7b76f50.bc5768"]
  ]
}, {
  "id": "e6b95fa0.972388",
  "type": "timeouttrigger",
  "z": "d011e418.3e4ce8",
  "ontimeouttype": "str",
  "ontimeoutval": "TMOUT",
  "duration": "70",
  "units": "s",
  "name": "DHT WDT",
  "x": 280,
  "y": 860,
  "wires": [
    ["f721ae3a.eae6d8"]
  ]
}, {
  "id": "b0fe9911.1b5b08",
  "type": "ui_gauge",
  "z": "d011e418.3e4ce8",
  "name": "current Temperature",
  "group": "fa8a91cd.256f3",
  "order": 1,
  "width": 0,
  "height": 0,
  "gtype": "gage",
  "title": "Temperature",
  "label": "°C",
  "format": "{{value}}",
  "min": 0,
  "max": "40",
  "colors": ["#0000ff", "#00ac00", "#ff0000"],
  "seg1": "",
  "seg2": "",
  "x": 760,
  "y": 680,
  "wires": []
}, {
  "id": "17d80316.655ac5",
  "type": "mqtt in",
  "z": "d011e418.3e4ce8",
  "name": "Status of relay",
  "topic": "sensor/Watering/relay",
  "qos": "0",
  "datatype": "utf8",
  "broker": "243fb1ae.c79226",
  "x": 120,
  "y": 340,
  "wires": [
    ["764e7e21.d4bc3", "a9e69ce0.ff451"]
  ]
}, {
  "id": "44f20127.317d8",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 3,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "Pump ON",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-left",
  "x": 340,
  "y": 340,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "764e7e21.d4bc3",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "set color of status",
  "func": "switch(msg.payload) {\n  case \"ON\":\n    // Glow GREEN\n    msg.color = \"lime\";\n    break;\n  default:\n    // Glow RED\n    msg.color = \"gray\";\n} \n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 230,
  "y": 400,
  "wires": [
    ["44f20127.317d8"]
  ]
}, {
  "id": "aeff4f.0c9b20b",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Air temperature",
  "info": "",
  "x": 160,
  "y": 580,
  "wires": []
}, {
  "id": "538edbd6.f07004",
  "type": "ui_chart",
  "z": "d011e418.3e4ce8",
  "name": "Humidity chart",
  "group": "fa8a91cd.256f3",
  "order": 4,
  "width": 0,
  "height": 0,
  "label": "",
  "chartType": "line",
  "legend": "false",
  "xformat": "auto",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "10",
  "ymax": "90",
  "removeOlder": "4",
  "removeOlderPoints": "",
  "removeOlderUnit": "604800",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "outputs": 1,
  "x": 750,
  "y": 740,
  "wires": [
    []
  ]
}, {
  "id": "bee4a7e5.ffe05",
  "type": "ui_chart",
  "z": "d011e418.3e4ce8",
  "name": "soil moist chart",
  "group": "2e4dca71.85856e",
  "order": 7,
  "width": 0,
  "height": 0,
  "label": "",
  "chartType": "line",
  "legend": "false",
  "xformat": "auto",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "100",
  "removeOlder": "4",
  "removeOlderPoints": "",
  "removeOlderUnit": "604800",
  "cutout": 0,
  "useOneColor": false,
  "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
  "useOldStyle": false,
  "outputs": 1,
  "x": 720,
  "y": 460,
  "wires": [
    []
  ]
}, {
  "id": "2f504c69.12ed54",
  "type": "comment",
  "z": "d011e418.3e4ce8",
  "name": "Hygrometer",
  "info": "",
  "x": 130,
  "y": 720,
  "wires": []
}, {
  "id": "bcb64efb.0e54d8",
  "type": "ui_template",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "name": "running log",
  "order": 8,
  "width": 0,
  "height": 0,
  "format": "<textarea rows=\"12\" cols=\"40\" style=\"color:back;background-color:white\" readonly>\n{{msg.payload}}\n</textarea>\n",
  "storeOutMessages": false,
  "fwdInMessages": true,
  "templateScope": "local",
  "x": 1550,
  "y": 280,
  "wires": [
    []
  ]
}, {
  "id": "b7c39563.01af",
  "type": "file",
  "z": "d011e418.3e4ce8",
  "name": "Write to /config/watering.log",
  "filename": "/config/watering.log",
  "appendNewline": true,
  "createDir": false,
  "overwriteFile": "false",
  "encoding": "ascii",
  "x": 1300,
  "y": 360,
  "wires": [
    ["f69f6b5b.d9e24"]
  ]
}, {
  "id": "f69f6b5b.d9e24",
  "type": "file in",
  "z": "d011e418.3e4ce8",
  "name": "",
  "filename": "/config/watering.log",
  "format": "utf8",
  "chunk": false,
  "sendError": false,
  "encoding": "none",
  "x": 1330,
  "y": 240,
  "wires": [
    ["bcb64efb.0e54d8"]
  ]
}, {
  "id": "504ecc88.6ead54",
  "type": "file",
  "z": "d011e418.3e4ce8",
  "name": "erase watering.log",
  "filename": "/config/watering.log",
  "appendNewline": true,
  "createDir": false,
  "overwriteFile": "true",
  "encoding": "none",
  "x": 1250,
  "y": 140,
  "wires": [
    ["f69f6b5b.d9e24"]
  ]
}, {
  "id": "e61988bc.4fc3a8",
  "type": "change",
  "z": "d011e418.3e4ce8",
  "name": "format refilled",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "$.myyear & \"-\" \t& $formatInteger($.mymonthn,'00') & \"-\" \t& $formatInteger($.mydom,'00') & \" \" \t& $.mytime\t& \" refilled\"",
    "tot": "jsonata"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 1040,
  "y": 140,
  "wires": [
    ["504ecc88.6ead54"]
  ]
}, {
  "id": "229298da.c83cd",
  "type": "simpletime",
  "z": "d011e418.3e4ce8",
  "name": "",
  "x": 850,
  "y": 160,
  "wires": [
    ["e61988bc.4fc3a8"]
  ]
}, {
  "id": "a9e69ce0.ff451",
  "type": "switch",
  "z": "d011e418.3e4ce8",
  "name": "filter OFF",
  "property": "payload",
  "propertyType": "msg",
  "rules": [{
    "t": "eq",
    "v": "OFF",
    "vt": "str"
  }],
  "checkall": "false",
  "repair": false,
  "outputs": 1,
  "x": 120,
  "y": 280,
  "wires": [
    ["47b9dae2.671be4"]
  ]
}, {
  "id": "47b9dae2.671be4",
  "type": "change",
  "z": "d011e418.3e4ce8",
  "name": "s/OFF/default/",
  "rules": [{
    "t": "change",
    "p": "payload",
    "pt": "msg",
    "from": "OFF",
    "fromt": "str",
    "to": "default",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 220,
  "y": 220,
  "wires": [
    ["5354ebf2.741cac"]
  ]
}, {
  "id": "95e466b0.874e88",
  "type": "function",
  "z": "d011e418.3e4ce8",
  "name": "stop when moist > 70%",
  "func": "if (msg.payload > 70) {\n    msg.payload = \"manual\";\n    msg.color = \"red\";\n} else {\n    msg.payload = \"auto\";\n    msg.color = \"gray\";\n}\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 450,
  "y": 420,
  "wires": [
    ["5b97afc4.dddfc", "c89068f7.fd1aa8", "f801106c.de7e18"]
  ]
}, {
  "id": "c89068f7.fd1aa8",
  "type": "rbe",
  "z": "d011e418.3e4ce8",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "property": "payload",
  "x": 730,
  "y": 360,
  "wires": [
    ["439720a4.e86078"]
  ]
}, {
  "id": "5b97afc4.dddfc",
  "type": "ui_text",
  "z": "d011e418.3e4ce8",
  "group": "31dbe66f.a1c39a",
  "order": 2,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "Watering blocked",
  "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
  "layout": "row-left",
  "x": 730,
  "y": 420,
  "wires": [],
  "icon": "node-red-contrib-ui-led/led.png"
}, {
  "id": "f801106c.de7e18",
  "type": "rbe",
  "z": "d011e418.3e4ce8",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "property": "payload",
  "x": 490,
  "y": 340,
  "wires": [
    ["a625b7a5.9d071"]
  ]
}, {
  "id": "243fb1ae.c79226",
  "type": "mqtt-broker",
  "z": "",
  "name": "MQTT on RED",
  "broker": "localhost",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "compatmode": true,
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "closeTopic": "",
  "closeQos": "0",
  "closePayload": "",
  "willTopic": "",
  "willQos": "0",
  "willPayload": ""
}, {
  "id": "31dbe66f.a1c39a",
  "type": "ui_group",
  "z": "",
  "name": "Control",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": true
}, {
  "id": "2e4dca71.85856e",
  "type": "ui_group",
  "z": "",
  "name": "Soil",
  "tab": "82b6846f.3524c8",
  "order": 3,
  "disp": true,
  "width": "6",
  "collapse": true
}, {
  "id": "fa8a91cd.256f3",
  "type": "ui_group",
  "z": "",
  "name": "Air",
  "tab": "82b6846f.3524c8",
  "disp": true,
  "width": "6",
  "collapse": true
}, {
  "id": "82b6846f.3524c8",
  "type": "ui_tab",
  "z": "",
  "name": "Watering",
  "icon": "fa-tint",
  "disabled": false,
  "hidden": false
}]
